section#contact {
	background: linear-gradient(rgba(22, 26, 43, 0.5)), url(../../../images/contact.png) no-repeat top / cover;
	padding-block: 5rem;
	.container {
		.row {
			.contact-height {
				height: 800px;
				background-color: #161A2B;
			}
			.col-lg-6 {
				.contact-text {
					background: #F0F0F0;
					font-size: 18px;
				}
				form {
					padding-block: 8rem;
					padding-inline: 3rem;
					gap: 3rem;
					input {
						margin-top: 2.17rem;
						border: none;
						background-color: transparent;
						border-bottom: 2px white solid;
						padding-block: 1rem;
						padding-left: 1rem;
					&#checkbox {
						margin-right: 1rem;
						color: #161A2B;
					}
				}
					.tarnsparent-btn {
						margin-inline: 5rem;
					}
				}
			}
		}
	}
}