section#readers {
	background-color: #E5E5E5;;
	.container {
		.row {
			.col-md-3, .col-md-4 {
				border: 1px solid #f0f0f0;
				padding-block: 1rem;
				text-align: center;
				}
				.padding {
					padding-top: 2.5rem;
				}
		}
	}
}