@media (max-width: 1400px) {
section#strength {
	.container {
		.row {
			.col {
				h3 {
					font-size: 24px;
				}
				p {
					font-size: 23px;
				}
			}
		}
	}
}

	section#contact {
	.container {
		.row {
			.contact-height {
				height: 880px;
			}
			.col-lg-6 {
				form {
					gap: 3.9rem;
				}
			}
		}
	}
}
}

@media (max-width: 1200px) {
  section#aboutUs {
    color: white;
    background: #161a2b;
    .container {
      .row {
        .aboutUs-text {
          font-size: 18px;
          p.pt-4 {
            width: 450px;
          }
        }
        .aboutUs-img {
          padding-left: 14rem;
          .square {
            background-color: #161a2b;
            width: 180px;
            height: 180px;
          }
        }
      }
    }
  }

section#strength {
	.container {
		.row {
			.col {
				h3 {
					margin-left: 5rem;
				}
				p {
					font-size: 20px;
				}
			}
		}
	}
}

section#contact {
	padding-block: 5rem;
	.container {
		.row {
			.contact-height {
				height: 720px;
			}
			.col-lg-6 {
				.contact-text {
					font-size: 16px;
					p {
						margin-block: 1px;
					}
				}
				form {
					padding-block: 6rem;
					gap: 2.5rem;
					h4 {
						font-size: 20px;
					}
					input {
						margin-top: 1rem;
				}
					.tarnsparent-btn {
						margin-inline: 2rem;
					}
				}
			}
		}
	}
}

  section#free {
    .container {
      form {
        input.box {
          width: 320px;
        }
      }
    }
  }
}

@media (max-width: 992px) {
  #showcase {
    img {
      width: 451px;
      height: 620px;
    }
    .container {
      p {
        font-size: 18px;
      }
      .tarnsparent-btn {
        padding: 1rem 2rem;
      }
      .red-btn {
        padding: 1.1rem 1rem;
      }
    }

}

section#aboutUs {
	display: none;
}

section#strength {
	.container {
		h2 {
			font-size: 24px;
		}
		.row {
			.col {
				height: 330px;
				h3 {
					font-size: 18px;
				}
				p {
					font-size: 18px;
				}
				img {
					width: 90px;
					height: 90px;
				}
			}
		}
	}
}

section#contact {
	padding-block: 3rem;
	.container {
		.row {
			.contact-p-none {
				display: none;
			}
			h2 {
				font-size: 24px;
			}
			.contact-height {
				height: 720px;
			}
			.col-lg-6 {
				.contact-text {
					br {
						display: none;
					}
					font-size: 18px;
					p {
						margin-block: 1.4rem;
					}
				}
				form {
					.tarnsparent-btn {
						margin-inline: 6rem;
					}
				}
			}
		}
	}
}

	section#work {
	.container {
		.work-info {
			span, h2 {
				font-size: 22px;
			}
		}
	}
}

	section#readers {
	.container {
		.row {
			.readers-none.col-md-4 {
				display: none;
			}
		}
	}
}

  #review {
    .container {
      #carouselExampleIndicators {
        padding-inline: 6rem;
        .carousel-inner {
          .carousel-item {
            .review-title {
              padding-left: 13rem;
              h4 {
                font-size: 20px;
              }
              p {
                font-size: 17px !important;
              }
            }
            p.mx-4 {
              font-size: 20px !important;
            }
          }
        }
      }
    }
  }

  section#free {
    .container {
      form {
        input.box {
          width: 200px;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  #showcase {
    padding-top: 7rem !important;
    img {
      width: 240px;
      height: 330px;
    }
    .container {
      h2 {
        font-size: 22px;
      }
      p {
        font-size: 17px;
      }
      .tarnsparent-btn {
        padding: 1rem 2rem;
      }
      .red-btn {
        padding: 1.1rem 1rem;
      }
    }
  }

section#strength {
	.container {
		h2 {
			font-size: 18px;
		}
		.row {
			.col {
				height: 230px;
				h3 {
					font-size: 14px;
					margin-left: 2.6rem;
				}
				p {
					font-size: 14px;
				}
				img {
					width: 65px;
					height: 65px;
				}
			}
		}
	}
}

section#contact {
	.container {
		.row {
			.contact-height {
				height: 700px;
			}
			.col-lg-6 {
				form {
					.tarnsparent-btn {
						margin-inline: 3rem;
					}
				}
			}
		}
	}
}

	section#work {
	.container {
		.work-info {
			display: grid !important;
			grid-template-columns: 1fr 1fr;
			gap: 3rem;
			span, h2 {
				font-size: 22px;
			}
		}
	}
}

	section#readers {
	.container {
		padding-block: 2rem !important;
		h2 {
			font-size: 18px;
			margin-bottom: 1rem !important;
		}
		.row {
			.mobile-none.col-md-3 {
				display: none;
			}
				.padding {
					padding-top: 2.5rem;
				}
		}
	}
}

  #review {
    .container {
      h2 {
        font-size: 24px;
      }
      #carouselExampleIndicators {
        padding-inline: 6rem;
        .carousel-inner {
          .carousel-item {
            .review-title {
              padding-left: 7rem;
              h4 {
                font-size: 15px;
              }
              p {
                font-size: 14px !important;
              }
            }
            p.mx-4 {
              font-size: 14px !important;
              margin-top: 2rem;
              margin-bottom: 4rem;
            }
            .review-man {
              width: 95px !important;
              height: 110px !important;
            }
          }
        }
      }
    }
  }

  section#free {
    .container {
      form {
        input.box {
          font-size: 15px;
          width: 140px;
        }
        .tarnsparent-btn {
          padding-inline: 2rem;
          padding-block: 0.7rem;
          font-size: 14px;
        }
      }
    }
  }

  footer#footer {
    .container {
      .footer-contact {
        display: none;
      }
    }
  }
}

@media (max-width: 576px) {
  #showcase {
    padding-top: 5rem !important;
    img {
      width: 290px;
      height: 390px;
    }
    .container {
      h2 {
        font-size: 22px;
        // width: 321px;
      }
      p {
        font-size: 18px;
        font-weight: 600;
        margin-inline: 0.2rem;
      }
      .tarnsparent-btn {
        padding: 1rem 1.8rem;
      }
      .red-btn {
        padding: 1.1rem 1.4rem;
      }
    }
  }

section#strength {
	padding-inline: 1rem;
	.container {
		gap: 2rem !important;
		.row {
			gap: 2rem !important;
			.col {
				height: 260px;
			}
		}
	}
}

section#contact {
	padding-bottom: 0 !important;
	border-bottom: 3px red solid;
	.container {
		.row {
			h2 {
				margin-left: 1rem;
			}
			.mobile-contact-padding {
				padding-inline: 2rem !important;
			}
			.contact-height {
				height: 700px;
			}
			.col-lg-6 {
				.contact-text {
					.mobile-contact-p {
						display: none;
					}
				}
				form {
					.tarnsparent-btn {
						margin-inline: 3rem;
					}
				}
			}
		}
	}
}

	section#work {
	padding-block: 3rem;
	.container {
		h2 {
			font-size: 18px;
			margin-bottom: 2rem !important;
		}
		.work-info {
			padding-inline: 3rem;
			h2 {
				margin-bottom: 1rem !important;
			}
			gap: 2rem;
			span, h2 {
				font-size: 16px;
			}
			p {
				font-size: 14px;
			}
		}
	}
}

	section#readers {
		padding-inline: 1rem;
	.container {
		.row {
			.readers-none.col-md-4.readers-block {
				display: block;
			}
			.col-md-3, .col-md-4 {
				padding-block: 1rem;
				text-align: center;
				}
				.padding {
					padding-top: 2.5rem;
				}
		}
	}
}

  #review {
    .container {
      h2 {
        font-size: 20px;
      }
      #carouselExampleIndicators {
        padding-inline: 4rem;
        padding-top: 2rem !important;
        .carousel-inner {
          .carousel-item {
            .review-title {
              padding-left: 7rem;
              h4 {
                font-size: 15px;
              }
              p {
                font-size: 14px !important;
              }
            }
            p.mx-4 {
              font-size: 14px !important;
              margin-top: 2rem;
              margin-bottom: 4rem;
            }
            .review-man {
              width: 95px !important;
              height: 110px !important;
            }
          }
        }
      }
    }
  }

  section#free {
    .container {
      form {
        h4 {
          line-height: 2rem;
        }
        input.box {
          width: 230px;
          font-size: 17px;
          padding-bottom: 0.8rem;
        }
        .tarnsparent-btn {
          display: none;
        }
        .mobile-free-btn {
          display: block;
          width: 50%;
          margin: 0 auto;
        }
      }
    }
  }

  footer#footer {
    .container {
      .footer-contact {
        display: block;
        .mobile-footer {
          display: flex;
          justify-content: space-between;
        }
      }
    }
  }
}

@media (max-width: 500px) {
section#strength {
	.container {
		.row {
			.col {
				height: 320px;
			}
		}
	}
}

section#contact {
	.container {
		.row {
			h2 {
				margin-left: 1rem;
			}
			.mobile-contact-padding {
				padding-inline: 2rem !important;
			}
			.contact-height {
				height: 650px;
				padding-inline: 0rem !important;
			}
			.col-lg-6 {
				form {
					padding-inline: 2rem;
					.tarnsparent-btn {
						margin-inline: 1rem;
					}
					h4 {
						font-size: 15px;
					}
					input, p, a {
						font-size: 15px;
					}
				}
			}
		}
	}
}

	section#work {
	padding-block: 2rem;
	.container {
		h2 {
			font-size: 16px;
			margin-bottom: 1rem !important;
		}
		.work-info {
			padding-inline: 5px;
			gap: 2rem;
			span, h2 {
				font-size: 14px;
			}
			p {
				font-size: 12px;
			}
		}
	}
}

  section#free {
    .container {
      form {
        h4 {
          font-size: 18px;
        }
        .mobile-free-input {
          display: flex !important;
          flex-direction: column;
          gap: 2rem;
        }
        input.box {
          width: 90%;
        }
        .mobile-free-btn {
          width: 80%;
        }
      }
    }
  }

  #review {
    .container {
      h2 {
        font-size: 20px;
        margin-left: 5px;
      }
      position: relative;
      #carouselExampleIndicators {
        i.fa-solid.pre {
          position: absolute;
          right: -10rem;
          bottom: -3rem;
          background-color: white;
          padding: 5px 1.2rem;
        }
        i.fa-solid.next {
          position: absolute;
          right: 8rem;
          bottom: -3rem;
          background-color: white;
          padding: 5px 1.2rem;
        }
        padding-inline: 5px;
        padding-top: 2rem !important;
        .carousel-inner {
          .carousel-item {
            .review-title {
              padding-left: 8rem;
            }
            p.mx-4 {
              margin-top: 2rem;
            }
            .review-man {
              width: 99px !important;
              height: 100px !important;
            }
          }
        }
        .carousel-control-prev.desktop,
        .carousel-control-next.desktop {
          display: none;
        }
        .mobile-review-btn-pre,
        .mobile-review-btn-next {
          display: block;
        }
      }
    }
  }
}

@media (max-width: 440px) {
  #showcase {
    padding-top: 5rem !important;
    img {
      width: 290px;
      height: 390px;
    }
    .container {
      h2 {
        font-size: 18px;
      }
      p {
        font-size: 14px;
        font-weight: 600;
        margin-inline: 0.2rem;
      }
      .tarnsparent-btn {
        padding: 0.8rem 1.5rem;
      }
      .red-btn {
        padding: 1rem 1rem;
      }
    }
  }

section#strength {
	.container {
		gap: 2rem !important;
		.row {
			flex-direction: column !important;
			gap: 2rem !important;
			.col {
				height: 260px;
				h3 {
					font-size: 15px;
					padding-bottom: 1rem !important;
				}
				p {
					margin-top: 0.5rem !important;
				}
				img {
					width: 60px;
					height: 55px;
				}
			}
		}
	}
}


  #review {
    padding-top: 2.5rem !important;
    .container {
      h2 {
        font-size: 18px;
      }
      #carouselExampleIndicators {
        i.fa-solid.pre {
          right: -14.5rem;
          bottom: -3.5rem;
          padding: 5px 1.5rem;
        }
        i.fa-solid.next {
          right: 5px;
          bottom: -3.5rem;
          padding: 5px 1.5rem;
        }
        padding-top: 1rem !important;
        .carousel-inner {
          .carousel-item {
            .review-title {
              padding-left: 7.5rem;
              .mobile-review-name {
                display: block;
              }
              h4.fw-bolder {
                display: none;
              }
            }
            p.mx-4 {
              margin-top: 1.5rem;
              margin-bottom: 2rem;
            }
            .review-man {
              width: 98px !important;
              height: 90px !important;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 400px) {
  #showcase {
    .container {
      h2 {
        font-size: 16px;
      }
      p {
        font-size: 13px;
      }
      .tarnsparent-btn {
        padding: 0.8rem 1.3rem;
      }
      .red-btn {
        padding: 1rem 0.8rem;
      }
    }
  }
	
section#contact {
	.container {
		.row {
			.col-lg-6 {
				form {
					.tarnsparent-btn {
						margin-inline: 0.5rem;
						padding: 1rem 1.5rem !important;
					}
				}
			}
		}
	}
}

  #review {
    padding-top: 2.5rem !important;
    .container {
      h2 {
        font-size: 18px;
      }
      #carouselExampleIndicators {
        i.fa-solid.pre {
          right: -14.5rem;
          bottom: -3.5rem;
          padding: 5px 1.5rem;
        }
        i.fa-solid.next {
          right: 5px;
          bottom: -3.5rem;
          padding: 5px 1.5rem;
        }
        padding-top: 1rem !important;
        .carousel-inner {
          .carousel-item {
            .review-title {
              padding-left: 7.5rem;
              .mobile-review-name {
                display: block;
              }
              h4.fw-bolder {
                display: none;
              }
            }
            p.mx-4 {
              margin-top: 1.5rem;
              margin-bottom: 3rem;
            }
            .review-man {
              width: 106px !important;
              height: 109px !important;
            }
          }
        }
      }
    }
  }

  section#free {
    .container {
      form {
        .mobile-free-btn {
          width: 85%;
          padding-inline: 1.1rem;
        }
      }
    }
  }
}

@media (max-width: 330px) {
  #showcase {
    .container {
      h2 {
        font-size: 16px;
      }
      p {
        font-size: 12px;
      }
      .mobile-btn {
        flex-direction: column;
        gap: 6px !important;
      }
      .tarnsparent-btn {
        font-size: 13px;
        padding: 0.8rem 2rem;
      }
      .red-btn {
        font-size: 13px;
        padding: 1rem 2rem;
      }
    }
  }

section#contact {
	.container {
		.row {
			.col-lg-6 {
				form {
					.tarnsparent-btn {
						padding: 1rem 0.4rem;
						margin-inline: 0rem;
					}
				}
			}
		}
	}
}

  #review {
    padding-top: 2.5rem !important;
    .container {
      h2 {
        font-size: 16px;
      }
      #carouselExampleIndicators {
        i.fa-solid.pre {
          right: -8rem;
        }
        .carousel-inner {
          .carousel-item {
            p.mx-4 {
              margin-top: 1rem;
            }
            .review-man {
              width: 106px !important;
              height: 136px !important;
            }
          }
        }
      }
    }
  }

  footer#footer {
    .container {
      .footer-contact {
        .mobile-footer {
          font-size: 14px;
        }
      }
    }
  }
}
